* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #4f4f4f;
}

form {
  width: 620px;
  margin: 0 auto;
}

fieldset {
  border: none;
}

.form-container {
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

legend {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subject-title,
.description-title,
.emails-title {
  font-weight: bold;
}

.required {
  display: inline;
  color: red;
}

.subject-field,
.description-field,
.emails-list,
.emails-field {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}

.subject-field:focus,
.description-field:focus,
.emails-list:focus,
.emails-field:focus {
  outline: none;
  border-color: #1f921080;
}

.subject-field,
.emails-field {
  height: 2rem;
}

.description-field {
  height: 8rem;
}

.emails-list {
  height: 10rem;
}

button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #1f9210;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #4f4f4f;
}

.enter-customers,
.submit {
  color: #fff;
  background-color: #1f9210;
  padding: 0.5rem;
}

.remove-customers,
.cancel {
  color: #1f9210;
  background-color: #fff;
  padding: 0.5rem;
}

.enter-customers,
.remove-customers {
  margin-bottom: 1rem;
}

.form-control {
  float: right;
}
