* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #4f4f4f;
}

form {
  width: 620px;
  margin: 0 auto;
}

fieldset {
  border: none;
}

.form-container {
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  padding: 1rem 0;
}

legend {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subject,
.description,
.destination-emails {
  font-weight: bold;
}

.required {
  display: inline;
  color: red;
}

.subject-field,
.description-field,
.emails-list,
.emails-field {
  display: block;
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #1f9210;
  border-radius: 5px;
}

.enter-customers,
.submit {
  color: #fff;
  background-color: #1f9210;
  padding: 0.5rem;
}

.remove-customers,
.cancel {
  color: #1f9210;
  background-color: #fff;
  padding: 0.5rem;
}

.enter-customers,
.remove-customers {
  margin-bottom: 2rem;
}

.cancel,
.submit {
  display: float;
  float: right;
}
